@model IEnumerable<ProjectCsharpGroup9.Models.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";

}

<div class="container-fluid">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title fw-semibold mb-4">Product</h5>
                <div class="">
                    <div class="">
                        <div class="searchbar">
                            <input class="search_input" type="text" name="" placeholder="Search...">
                            <a href="#" class="search_icon"><i class="ti ti-search"></i></a>
                            <a href="@Url.Action("Create", "Category", new { Areas = "Admin" })" class="btn btn-success add_button position-absolute">Add</a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive pt-4">
                    <table class="table table-custom table-bordered table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.CategoryID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Description)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CategoryID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.CategoryID }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.CategoryID }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.CategoryID })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

                           