@model IEnumerable<ProjectCsharpGroup9.Models.CartDetails>

@{
    ViewData["Title"] = "Index";
}

<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="bread"><span><a href="/">Home</a></span> / <span>Shopping Cart</span></p>
            </div>
        </div>
    </div>
</div>

<div class="colorlib-product">
    <div class="container">
        <div class="row row-pb-lg">
            <div class="col-md-10 offset-md-1">
                <div class="process-wrap">
                    <div class="process text-center active">
                        <p><span>01</span></p>
                        <h3>Shopping Cart</h3>
                    </div>
                    <div class="process text-center">
                        <p><span>02</span></p>
                        <h3>Checkout</h3>
                    </div>
                    <div class="process text-center">
                        <p><span>03</span></p>
                        <h3>Order Complete</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-pb-lg">
            <div class="col-md-12">
                <div class="product-name d-flex">
                    <div class="one-forth text-left px-4">
                        <span>Product Details</span>
                    </div>
                    <div class="one-eight text-center">
                        <span>Price</span>
                    </div>
                    <div class="one-eight text-center">
                        <span>Quantity</span>
                    </div>
                    <div class="one-eight text-center">
                        <span>Total</span>
                    </div>
                    <div class="one-eight text-center px-4">
                        <span>Remove</span>
                    </div>
                </div>
                @foreach (var item in Model)
                {
                    <div class="product-cart d-flex">
                        <div class="one-forth">
                            <div class="display-tc">
                                <h3 style="font-size: 20px">@item.Product.ProductName</h3>
                            </div>
                        </div>
                        <div class="one-eight text-center">
                            <div class="display-tc">
                                <span class="price">@item.Product.DiscountPrice.ToString("C")</span>
                            </div>
                        </div>
                        <div class="one-eight text-center">
                            <div class="display-tc d-flex align-items-center">
                                <form asp-controller="CartDetail" asp-action="UpdateCartDetail" method="post" class="d-flex">
                                    <input type="hidden" name="cartDetailID" value="@item.CartDetailID" />
                                    <input type="number" name="quantity" value="@item.Quantity" min="1" max="@item.Product.Quantity" class="form-control mr-2" style="width: 70px;" />
                                    <button type="submit" class="btn btn-primary">Update</button>
                                </form>
                            </div>
                        </div>
                        <div class="one-eight text-center">
                            <div class="display-tc">
                                <span class="price">@((item.Product.DiscountPrice * item.Quantity).ToString("C"))</span>
                            </div>
                        </div>
                        <div class="one-eight text-center pt-4">
                            <form class="text-center" asp-action="RemoveFromCart" asp-route-id="@item.CartDetailID" method="post"
                                  onsubmit="return confirm('Are you sure you want to delete this item from your cart?');">
                                <input type="submit" value="Delete" class="btn btn-danger" />
                            </form>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="row row-pb-lg">
            <div class="col-md-12">
                <div class="total-wrap">
                    <div class="row">
                        <div class="col-sm-8">
                            
                                <div class="row form-group">
                                    <div class="col-sm-3">
                                        <form asp-controller="CartDetail" asp-action="Checkout" method="post">
                                            <button class="btn btn-success" type="submit">Checkout</button>
                                        </form>
                                    </div>
                                </div>
                        </div>
                        <div class="col-sm-4 text-center">
                            <div class="total">
                                <div class="sub">
                                    <p><span>Subtotal:</span> <span>@string.Format("{0:C}", ViewBag.TotalAmount)</span></p>
                                    <p><span>Delivery:</span> <span>$0.00</span></p>
                                    <p><span>Discount:</span> <span>@string.Format("{0:C}", ViewBag.Tax)</span></p>
                                </div>
                                <div class="grand-total">
                                    <p><span><strong>Total:</strong></span> <span>@string.Format("{0:C}", ViewBag.Total)</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>